* {
  box-sizing: border-box;
  margin: 0;
 }

.header {
  display: block;
  padding: 10px;
  text-align: center;
  background-color:rgba(176, 210, 117, 0.847);
  letter-spacing: 5px ;

}

.tour {
  font-size: 25px;
  font-weight:900;
  letter-spacing: 10px;
  text-decoration-line:overline;
  word-spacing: 10px;
}

.paris {
  font-weight: 900;
  color:rgba(60, 98, 23, 0.773);
  text-decoration:underline;
  text-decoration-style: dotted;
}

.tallinn {
  text-decoration-line: line-through;
  text-decoration-color: rgba(238, 7, 53, 0.698);
}

.austria {
  font-weight: 900;
  color:rgb(61, 98, 23);
  text-decoration:underline;
  text-decoration-style: dotted;
}

.prague1 {
  width: 400px;
  height: 180px;
  background-color:rgba(234, 234, 34, 0.786);
  margin: 25px 40px;
  padding: 20px;
  border-style: dotted;
  border-width: 5px;
}

h2 {
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-size: 18px ;
}

.praque2 {
  font-size: 15px;
  text-indent: 30px;
  line-height: 30px;
}

.paris1 {
  width: 400px;
  height: 180px;
  background-color:rgba(69, 174, 24, 0.811);
  margin: 0px 800px;
  padding: 20px;
  border-style:dashed;
  border-width: 5px;
}

.paris2 {
  font-size: 15px;
  text-indent: 30px;
  line-height: 30px;
}

.germany1 {
  width: 400px;
  height: 180px;
  background-color:rgba(109, 21, 124, 0.74);
  margin: 0px 250px;
  padding: 20px;
  border-style: dashed;
  border-width: 5px;
}

.germany2 {
  font-size: 15px;
  text-indent: 30px;
  line-height: 30px;
}

.austria1 {
  width: 400px;
  height: 180px;
  background-color:rgba(196, 81, 81, 0.74);
  border-style: dotted;
  border-width: 5px;
  margin: 0px 500px;
  padding: 20px;
}

.austria2 {
  font-size: 15px;
  text-indent: 30px;
  line-height: 30px;
}